.about{
    background: url('../assets/bio/bio.png');
    background-color: black;
    padding: 28px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}



.bioCardContainer{
    /* border: 1px solid whitesmoke; */
    width: 65%;
    height: 90%;
    overflow: hidden;
    /* padding: 28px; */
    position: relative;
}

.bioCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bioHeading{
    font-size: 48px;
    color: white;
}

.bioHeading span{
    color: #5B78F6;
}


.bioCard{
    width: 70%;
    height: 236px;
    background: linear-gradient(to right, #2A2A2A, #151515);
    border-radius: 6px;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    position: relative;
    color: white;
    
}

.bioCards{
    transition: 1s all ease-in-out;
    position: absolute;
}

.bioCard.b2{
    margin-left: auto;
}


.bioCard:hover .cardDetail,
.bioCard:hover .cardhHeader {
    transform: translateZ(40px);
}

.cardhHeader{
    font-family:"MuseoModerno", sans-serif;
}


.cardHeadig{
    font-size: 36px;
    color: #5B78F6;
}

.cardSubHeadig{
    font-size: 24px;
    font-weight: 400;
    margin-top: -12px;
}

.cardDetail{
    font-family: "Poppins", sans-serif;
}


.bioStudyHeading{
    font-size: 18px;
}

.bioStudySubHeading{
    font-size: 12px;
    padding-bottom: 10px;
}

.bioStudySubHeading span{
    color: #5B78F6;
}

.bioButton{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    bottom: 20px;
}

.bioButton button{
    display: inline;
    color: white;
}