*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sections{
  width: 90vw;
  height: 90vh;
}



.mainContainer{
  display: flex;
}

.bottom-navigation{
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.navigation a{
  text-decoration: none;
  color: white;
  font-family: "MuseoModerno", sans-serif;
  
}
.left-navigation{
  width: 10vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
    align-items: center;
    
}

.left-navigation a{
  writing-mode: vertical-rl;
  padding:20px 0px;
  text-orientation: mixed;
}

.left-navigation a span{
  display: inline-block;
  transform: rotate(-90deg);
  letter-spacing: 12px;
}